extends ../portfolio/layout

block body
	h1 New Blog Post
	form(action='/blog', method='post', enctype='multipart/form-data')
		.form-group
			label(for='title') Title
			input.form-control(name='title', value=post.title, autofocus)
		.form-group
			label(for='body') Body
			textarea.form-control(name='body')= post.body
		.form-group
			label(for='author') Author
			input.form-control(name='author', value=post.author)
		//- .form-group
		//- 	label(for='slug') Slug
		//- 	input.form-control(name='slug', value=post.slug)
		.form-group
			label(for='image') Image
			input.form-control(name='image', type='file')
		.form-group
			input.btn.btn-primary.btn-lg(type='submit', value='Create')
